.buttons_container {
  width: 55px;
  height: 28px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 6px;

  background: transparent;
  transition: background-color 0.3s ease;

  &:hover {
    background: #414144;

    .delete_button {
      opacity: 1;
    }
  }
}

.button {
  background: none;
  border: none;
  padding: 0;

  cursor: pointer;
}

.create_button {
  height: 24px;
}

.delete_button {
  height: 16px;

  opacity: 0;
  transition: opacity 0.3s ease;
}
